.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: blue;
    color: white;
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: bold;
}

.white{
    color: white;
}